/* Content Styles */

.content {
	line-height: 1.54;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	font-weight: bold;
}
.content h1 {
	margin-bottom: 1em;
}
.content h2 {
	margin-bottom: .75em;
}
.content h3 {
	margin-bottom: .5em;
}
.content h4,
.content h5,
.content h6 {
	margin-bottom: .25em;
}

/* For FAQ page, style all headings the same.  Minimize user error. */
.page-faq .content h1,
.page-faq .content h2,
.page-faq .content h3,
.page-faq .content h4,
.page-faq .content h5,
.page-faq .content h6 {
	font-size: 16px;
	margin-bottom: 0;
}


.content ul,
.content ol,
.content blockquote, 
.content table,
.content p {
	margin-bottom: 20px;
}
.content blockquote { 
	margin-left: 20px;
	margin-right: 20px;
}



/* Lists */
.content ul, 
.content ol { 
	margin: 0 1.5em; 
}
.content ul {
	list-style-type: disc;
} 
.content ol {
	list-style-type: decimal;
}
/* Definition List - Key/Value */
.content .kv dt,
.content .kv dd {
	float: left;
}
.content .kv dt {
	clear: left;
}

.content .alignleft {
	float:left;
	margin-right: 22px;
	margin-bottom: 22px;
}
.content .alignright {
	float: right;
	margin-left: 22px;
	margin-bottom: 22px;
}
.content .aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.content .wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	/* optional rounded corners for browsers that support it */
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.content .wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.content .wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}


#masthead .slide-content .content p {
	margin-bottom: 17px;
}